{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th> Goal </th>
                <th> Timeframe </th>
                <th> Priority </th>
                <th> Complection </th>
                <th> Emotion (before) </th>
                <th> Emotion (after) </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <form action="/add_goal" method="post">
                        <select name="priority">
                            <option value="high">High</option>
                            <option value="low">Low</option>
                        </select>
                        <input type="text" name="goal" placeholder="Enter the goal">
                        <input type="submit" value="Add">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <img src="/static/planning2.png" class="wide-image">
{% endblock %}
