{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/password_change" method="post">
        <small class="form-text text-muted">
            Password must contain at least 1 letter, 1 number, and 1 symbol.
        </small>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="old_password" name="old_password" placeholder="Old password" type="password" autocomplete="off" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New password" type="password" autocomplete="off">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="New password (again)" type="password" autocomplete="off">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
