{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table  class="table">
        <thead>
            <tr>
                <th> Symbol </th>
                <th> Shares </th>
                <th> Price </th>
                <th> Transacted </th>
            </tr>
        </thead>
        <tbody>
            {% for stock in users_stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.amount }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.transactions_datetime }}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
{% endblock %}
