{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th> Symbol </th>
                <th> Name </th>
                <th> Shares </th>
                <th> Price </th>
                <th> TOTAL </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
