{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table  class="table">
        <thead>
            <tr>
                <th> Symbol </th>
                <th> Name </th>
                <th> Shares </th>
                <th> Price </th>
                <th> TOTAL </th>
            </tr>
        </thead>
        <tbody>
            {% for stock in users_stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.amount }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.total }}</td>
                <td>
                    <form method="POST" action="/buy">
                        <input type="hidden" name="symbol" value="{{ stock.symbol }}">
                        <button class="btn btn-primary" name="share" value="{{ 1 }}" type="submit">Buy 1 more "{{ stock.symbol }}" stock?</button>
                    </form>
                </td>
            </tr>
            {% endfor%}
            <tr>
                <td colspan="4" align="right"><b>Cash</b></td>
                <td>{{ users_cash }}</td>
            </tr>
            <tr>
                <td colspan="4" align="right"><b>TOTAL</b></td>
                <td>{{ total_value }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
