/* Size for site logo */
nav .site-logo
{
    font-size: xx-large;
}

/* Colors for site logo */
nav .site-logo .blue
{
    color: #537fbe;
}
nav .site-logo .red
{
    color: #ea433b;
}
nav .site-logo .yellow
{
    color: #f5b82e;
}
nav .site-logo .green
{
    color: #2e944b;
}


.VB6LgUAmqv1DrUQhn1Tq {
    --min-font-size: var(--body-lg-min-size);
    --max-font-size: var(--body-lg-max-size);
    --font-family: var(--body-lg-font-family,var(--font-family-body));
    --font-weight: var(--body-lg-font-weight,var(--body-font-weight));
    --letter-spacing: var(--body-lg-letter-spacing,var(--body-letter-spacing));
    --line-height: var(--body-lg-line-height,var(--body-line-height));
    --text-transform: var(--minor-lg-text-transform,var(--body-text-transform));
}

.intro-section_headersContainer__9NjnT .intro-section_subheading__tcOMz {
    max-inline-size: 40.625rem;
    margin-block-end: var(--space-32);
    color: var(--display-onlight-secondary);
}

.Z2j5FoeQ_umI7vX0SmxF {
    --slope: (var(--max-font-size) - var(--min-font-size)) /(var(--typography-max-screen) - var(--typography-min-screen));
    --intersection: ((-1 * var(--typography-min-screen)) * var(--slope) + var(--min-font-size));
    --font-size: clamp(var(--min-font-size) * 1rem,var(--intersection) * 1rem + var(--slope) * 100vw,var(--max-font-size) * 1rem);
    font-family: var(--font-family,var(--font-family-body));
    font-size: var(--font-size);
    font-weight: var(--font-weight,400);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    text-transform: var(--text-transform);
}
