/* Size for site logo */
nav .site-logo
{
    font-size: xx-large;
}

p, span, div, h1, button {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: # f6f5f4;
}

/* Button color */
button.btn-primary {
    background-color: #de483a;
    border-color: #de483a;
}

/* Highlighting the input field */
input.form-control:focus {
    border-color: #de483a;
    box-shadow: 0 0 0 0.2rem rgba(222, 72, 58, 0.25);
}

/* Input field color */
input.form-control {
    background-color: white; /* Цвет фона поля ввода */
}
